# general

__pycache__/
.ipynb_checkpoints


# 'results' folders 

LA-MCTS/results/*
!LA-MCTS/results/.gitkeep

LA-MCTS-baselines/Bayesian-Optimization/results/*
!LA-MCTS-baselines/Bayesian-Optimization/results/.gitkeep

LA-MCTS-baselines/Nevergrad/results/*
!LA-MCTS-baselines/Nevergrad/results/.gitkeep
